
.bgimage {
	background: url(background2.jpg) top no-repeat fixed;
	background-size: cover;
	overflow: auto;
}
.bgimage_viewitems {
	background: url(bgimage_view.jpg) no-repeat fixed;
	background-size: cover;
}


/* The side navigation menu */
.sidenav {
	height: 100%; 
	width: 0;
	position: fixed; 
	z-index: 1; 
	top: 0; 
	left: 0;
	background-color: #111; 
	opacity: 0.9;
	overflow-x: hidden; 
	padding-top: 60px; 
	transition: 0.5s; 
	text-align: center;
  }
  
  /* The navigation menu links */
  .sidenav a {
	padding: 20px 20px 20px 12px;
	text-decoration: none;
	font-size: 35px;
	color: beige;
	display: block;
	transition: 0.3s;
  }
  
  
  .sidenav a:hover {
	color: blueviolet;
  }
  
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 20px;
  }
  
 
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }


  .sidepanel {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
	}
	
	body {
		padding-top: 50px;
	}
	